ACTION=="add" \
, ENV{DEVTYPE}=="disk" \
, KERNEL=="sd*" \
, RUN+="/bin/bash -c 'sudo -i -u pi DISPLAY=:0 wmctrl -c SATELLITE; sudo -i -u pi DISPLAY=:0 chromium-browser --app=http://localhost:8000/0$(ls /dev/sd{a,b,c,d} | wc -l)/; sudo -i -u pi DISPLAY=:0 mpg123 --verbose --audiodevice /dev/audio /home/pi/Documents/escape-2023/public/scenes/0$(ls /dev/sd{a,b,c,d} | wc -l)/audio.mp3'"
