body {
  cursor: none;
  overflow: hidden;
}


/* latin */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url(typo-escape.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: black;
}


img {
    width: 100%;
    height: 100%;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #00FF00;
  font-family: 'VT323', monospace;
  font-size: 110%;
  font-weight: normal;
  line-height: 1;
  overflow: hidden; /* Não revela o texto antes do cursor */

}


.type-writer-text {

  transform: translate(-0%, -105%);
  font-size: 26px;
  font-family: 'Anonymous Pro', monospace;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 8s steps(50) 0.5s 1 normal both,
    cursorblink 0.5s infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  
  to {
    width: 28.5em;
  }
}

